<% provide(:title, "首页") %>
<!--%= link_to "#{organization.name}报告",checker_home_path(organization.checker) %-->

<div class="row">
	<% if not signed_in? %>
		<div class="button_box">
	    		<%= link_to '督察员登陆',zone_supervisor_signin_path(format: :mobile) ,class: "btn btn-large btn-primary"%>
		</div>
		<div class="button_box">
	    		<%= link_to '巡查员登陆',worker_signin_path ,class: "btn btn-large btn-primary"%>
		</div>
		<% if not current_equipment_register? %>
			<div class="button_box">
				<%= link_to '设备注册',register_equipment_path,class:"btn btn-large btn-primary" %>
			</div>
		<% end %>
	<% end %>
</div>
