<% provide(:title, "首页") %>
	<div class="span12">
		<img  src="pic/banner.jpg"/>
	</div>

	<div class="span4">

	<div class="well">
		<h3 style="">云计算</h2>
		<hr>
			<p>
				智能云检®平台，采用虚拟化技术，使用目前最先进的OpenStack®私有云技术架构： 
			</p>
			<ul>
				<li>数据的存储、获取可达毫秒级响应</li>
				<li>存储扩展的伸缩性强,更高的系统可用性</li>
				<li>可以无缝对接移动互联网</li>
			</ul>
		</div>
	</div>
	<div class="span4">

	<div class="well">
		<h3 class="title">移动互联</h2>
		<hr/>
			<p>
				云检®通过移动互联和多媒体技术，使得审核督察实现无纸化办公，并且打破时间、空间的限制：
			</p>
			<ul>
				<li>可以随时随地的记录并发布图像信息</li>
				<li>可以拍摄详记录现场细视频片段</li>
				<li>为高端用户提供1080P的视频体验</li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h3>智能管理</h2>
			<hr/>
			<p>智能云检®平台，不仅提供了坚实的IT基础架构，而且为应用提供了灵活丰富的智能管理功能：</p>
		<ul>
			<li>智能报表系统, 让报表定制简单轻松</li>
			<li>权限定制，适应各种企业管理架构</li>
			<li>二次开发接口，方便高端定制</li>
		</ul>				
		</div>
	</div>
