<ul class="breadcrumb">
  <li class="active">机构列表</li>
</ul>
<table class="table table-bordered table-striped">
	<tr>
		<th width="40%">机构名</th>
		<th>操作</th>
	</tr>
	<% @organizations.each do |o| %>
		<tr>
			<td><%=o.name%></td>
			<td>
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						选择报告列表
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" style="min-width:130px">
						<li>
							<%=link_to "督察报告",zone_supervisor_organization_reports_path(o,format: :mobile),style:"font-size:20px"%>
						</li>
						<li class="divider"></li>
						<li>
							<%=link_to "巡查报告",worker_organization_reports_path(o,format: :mobile),style:"font-size:20px"%>
						</li>
					</ul>
				</div>
			</td>
		</tr>	
	<% end %>
</table>
