<ul class="breadcrumb">
  <li class="active">机构列表</li>
</ul>
<% @zones.each do |z|%>
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan="2"><center><%= z.name %><center></th>
		</tr>
		<tr>
			<th width="70%">机构名</th>
			<th>督察报告数</th>
		</tr>
		<% z.organizations.each do |o| %>
			<tr>
				<td><%=link_to o.name,zone_supervisor_organization_reports_path(o,format: :mobile) %></td>
				<td><%= o.get_all_supervisor_report.size %>
			</tr>		
		<% end %>
	</table>
<% end %>