<% provide(:title, @zone_admin_user.name) %> 
<%= render 'shared/site_admin_left' %>
<table>
    <tr>
        <td><%= @zone_admin_user.name %></td>
        <td><%= @zone_admin_user.des  %></td>
    <tr>
</table>
