<ul class="breadcrumb">
  <li>
    <%= link_to '模板管理', zone_admin_templates_path(zone_admin)%>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to template.name, template_path(template)%>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= action_name %></li>
</ul>