<ul class="breadcrumb">
  <li>
    <a href="<%= worker_organization_reports_path(organization) %>"><%= organization.name%></a> <span class="divider">/</span>
  </li>
  <li class="active"><%= action_name%></li>
</ul>