<table class="table table-bordered">
<% reports.each do |report| %>
  <tr>
      <td> <%= link_to report.template.name ,report_detail_report_path(report) %> </td>
      <td> <%= report.created_at %> </td>
      <td>
        <% if report.status_is_new? %>
          进行中
        <% elsif report.status_is_finished? %>
          通过
        <% else %>
          N/A
        <% end %>
      </td>
  </tr>
<% end %>
</table>
