<ul class="breadcrumb">
	<%= render partial:'reports/nav_worker_or_supervisor' %>
  	<li class="active"><%= @organization.name %>的督察报告</li>
</ul>
<p>
  <% if current_user.session.zone_supervisor? and @organization.zone.zone_supervisor_ids.include?(current_user.id) %>
    <%= link_to '新建督察报告',new_organization_report_path(@organization,format: :mobile) ,class: "btn btn-small"%>
  <% end %>
</p>
<%= render partial:'reports/reports_index',locals:{reports:@supervisor_reports} %>