<ul class="breadcrumb">
  <li class="active"><%= @organization.name %></li>
</ul>
<% if @organization.worker == current_user %>
<p>
  <%= link_to '新建自检报告',new_organization_report_path(@organization,format: :mobile),class: "btn btn-small"%>
</p>
<% end %>
<%= render partial:'reports/reports_index',locals:{reports:@worker_reports} %>