<ul class="breadcrumb">
  <li class="active"><%= @organization.name %></li>
</ul>
<% if @organization.worker == current_user %>
<p>
  <%= link_to '新建自检报告',new_organization_report_path(@organization,format: :mobile),class: "btn btn-small"%>
</p>
<% end %>
<table class="table table-bordered table-striped">
  <tr>
    <th>报告名称</th>
    <th>创建时间</th>
    <th>当前状态</th>
  </tr>
<% @worker_reports.each do |report| %>
  <tr>
      <td> <%= link_to report.template.name ,check_categories_report_path(report,format: :mobile) %> </td>
      <td> <%= report.created_at %> </td>
      <td>
        <% if report.status_is_new? %>
          <span class="label label-info">进行中</span>
        <% elsif report.status_is_finished? %>
          <span class="label label-success">通过</span>
        <% else %>
          N/A
        <% end %>
      </td>
  </tr>
<% end %>
</table>
