
<%= link_to '新建报告',new_organization_report_path(@organization,format: :mobile) %>
<table>
<% @worker_reports.each do |report| %>
  <tr>
      <td> <%= link_to report.template.name ,check_categories_report_path(report,format: :mobile) %> </td>
      <td> <%= report.created_at %> </td>
      <td>
        <% if report.status_is_new? %>
          进行中
        <% elsif report.status_is_finished? %>
          通过
        <% else %>
          N/A
        <% end %>
      </td>
  </tr>
<% end %>
</table>
