 <title>维幄通达 | <%= yield(:title) %></title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
 
 <script>
	 $(document).ready(function() {
	
		/* This is basic - uses default settings */

		/*找到video标签并且存储下来*/
		$("video").each(
			function(i){
				video_tag = $(this).parent().html();
				if (video_tag != null){
					video_tag = video_tag.replace("none","");
					 // alert(video_tag);
					// video_tag="<h>12344</h>";
					$(this).parent().parent().find("span").fancybox({
						'content':video_tag,
						'autoDimensions':true
					});
				}
			}
		);

		$("a#single_image").fancybox();
		
		/* Using custom settings */
		
		$("a#inline").fancybox({
			'hideOnContentClick': true
		});
	
		/* Apply fancybox to multiple items */
		
		$("a.group").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600, 
			'speedOut'		:	200, 
			'overlayShow'	:	false
		});
		
	});
</script>